@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="name">
    <h1 class="page-title">AcadmyCourses <br> <span>Education</span></h1>
</div>
<div class="header">
    <div class="nav">
        <ul class="navigation">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
        </ul>
        <p class="header-text">It's not too <br> late to apply</p>
    </div>
</div>


<h1 class="privacy">@ViewData["Title"]</h1>

<p class="privacyText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dui dolor, vulputate nec tortor id, sollicitudin auctor dui. Suspendisse ut efficitur velit. Quisque hendrerit ligula ut dui bibendum, non sodales nisl egestas. Morbi semper, ipsum rhoncus tincidunt mollis, sem massa elementum elit, quis semper lacus ante ac turpis. Quisque orci ex, sagittis nec laoreet vitae, tristique ac mi. Mauris porttitor, ipsum quis luctus elementum, tortor eros auctor arcu, ut molestie magna mi quis sem. Sed turpis ipsum, ullamcorper vitae odio porta, auctor ultrices lorem. Aenean luctus leo dui, eu sollicitudin felis aliquam id. Ut nec tellus vitae purus tempus commodo. Nulla rhoncus leo malesuada lacus dignissim, ac efficitur purus cursus. Integer in auctor est, sit amet pharetra lectus. Quisque vel enim arcu. Quisque vel congue mauris.

    Sed libero velit, rutrum in rhoncus vel, commodo id ante.Vestibulum in hendrerit justo. Donec auctor dui vitae est aliquam, id molestie lectus vehicula. Morbi tincidunt mauris ut ligula cursus mollis. Integer sed velit ac justo lobortis lobortis. Nullam volutpat convallis elementum. Etiam finibus nec ipsum at tincidunt. Vivamus vulputate, nisi eu porttitor vestibulum, sem ante tempor nulla, vel porta sem diam eget arcu..
</p>

<div class="footer-cotent">
    <div class="footer-up">
        <div class="name">
            <h1 class="page-title-footer">AcadmyCourses <br> <span>Education</span></h1>
        </div>
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    <hr>
    <div class="footer-down">
        <p>
            AcadmyCourses@gmail.com | 0700551099 | Nasaret,Varberg
        </p>
    </div>
</div>

